:root {
    --color-pink: #f42267;
    --color-violet: #69328e;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

h3 {
    font-style: italic;
    font-size: 40px;
    font-family: 'Palatino Linotype', 'Book Antique', 'Palatino', serif;
    text-transform: capitalize;
}

h4 {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

h5 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: capitalize;
}

.section {
    padding: 100px 0;
}

@media (max-width: 992px) {
    .section {
        padding: 50px 0;
    }
}

@media (max-width: 768px) {
    h3 { font-size: 30px; }
    h4 { font-size: 34px; }
}