.section-brands {
    padding: 40px 0;
    background: #442E82;
}

.section-brands .icons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.section-brands .icon {
    margin: 10px;
    font-size: 5em;
    color: #7C63C1;
}

@media (max-width: 768px) {
    .section-brands .icons {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}