.section-content {
    padding: 40px 0;
}

.section-content .card {
    transition: all .5s;
}

.section-content .card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
}

.section-content .widget-title {
    color: #484848;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.section-content .pagination .page-link {
    color: #da1757;
}

.section-content .pagination .page-item.active .page-link {
    background-color: #da1757;
    border-color: #da1757;
    color: #fff;
}

.widget-categories .widget-title::after {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #da1757;
}

.widget-categories .list-group-item.active {
    background-color: #da1757;
    border-color: #da1757;
}

.widget-categories .list-group-item .badge {
    background-color: #da1757;
}