.section-design h3,
.section-design h4,
.section-design h5 {
    color: #484848;
}

.section-design .icon {
    font-size: 4em;
    background: linear-gradient(45deg, rgba(237,27,51,1) 0%, rgba(68,46,130,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-design .btn {
    margin-left: 0;
}