.section-form {
    background: url('/assets/img/form_bg.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
}

.section-form h5 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-form form {
    margin-top: 50px;
}

.section-form .form-control {
    height: 50px;
    background-color: rgba(255, 255, 255, .35);
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
    color: #fff;
}

.section-form .form-control::placeholder {
    color: #fff;
}

.section-form .form-control::focus {
    box-shadow: 0 0 0 2rem rgba(255, 255, 255, .25);
}
