.section-reviews {
    background: url('/assets/img/reviews_bg.jpg') center no-repeat;
    background-size: cover;
    padding: 20px 0 0;
}

.section-reviews .carousel-caption {
    top: 5%;
    bottom: auto;
    text-align: left;
    width: 40%;
}

.section-reviews figure {
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    position: relative;
    margin-top: 70px;
    padding-left: 40px;
}

.section-reviews figure::before {
    content: '\201C';
    float: left;
    font-size: 150px;
    font-weight: 500;
    font-style: italic;
    color: var(--color-pink);
    position: absolute;
    top: -80px;
    left: -33px;
}

@media (max-width: 576px) {
    .section-reviews .carousel-caption {
        position: static;
        width: 70%;
        margin: auto;
    }
}