.section-socials {
    padding: 40px 0;
    background: #442E82;
}

.section-socials a {
    text-decoration: none;
    color: #8E7CC1;
}

.section-socials a::after {
    content: "|";
    color:  #7C63C1;
    margin-left: 10px;
    margin-right: 10px;
}

.section-socials a:last-child::after {
    content: "";
}